@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");


.background-container {
    background-color: white;
    height: 150vh;
    width: 100vw;
    background-size: cover;
}

.image1 {
    height: 270px;
    width: 350px;
    padding: 10px;
    border-radius:50px;
}

.text-container {
    text-align: center;
    color: #183b56;
}

.title {
    color: black;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
    margin: 5px
}

.matter {
    color: #323f4b;
    font-weight: 400;
    padding: 8px;
    font-size: 20px;
}
